/*    font-family: 'Roboto Slab', serif;

    font-family: 'Ubuntu', sans-serif;

    font-family: 'Pacifico', cursive;
 */

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 body{
    font-family: 'Roboto Slab', serif;
    line-height: 1.5;
 }
 a{
     text-decoration: none;
 }

 .header{
     background-color: #1F2937;
     
 }

 .navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 8px;
     max-width: 1300px;
     margin: 0 auto;
 }
 .logo{
     font-size: 36px;
     color: #F9FAF8;
     font-family: 'Pacifico',cursive;
     font-weight: 500;
     letter-spacing: 1.2;
     text-decoration: underline;
     padding: 8px 12px;
 }
 .nav-links{
     display: flex;
     gap: 12px;
     align-items: center;
     justify-content: center;
     padding: 8px;
     margin-bottom: 12PX;
 }
 .nav-links a{
     font-size: 24px;
     padding: 6px;
     color: #E5E7EB;
 }
 .hero-section{
     display: flex;
     gap: 32x;
     align-items: center;
     justify-content: space-between;
     margin-top: 36px;
     
     max-width: 1300px;
     margin: 0 auto;
    
 }
 .hero-img{
     display: flex;
     align-items: center;
     justify-content: center;
     
 }
 .image{
     width: 85%;
     height: 75%;
     border-radius: 8px;
 }
 .hero-content{
     display: flex;
     flex-direction: column;
    
     align-items: center;
     justify-content: flex-start;
     width: 500px;
 }
 .primary-heading{
    font-family: 'Ubuntu', sans-serif;
     font-size: 48px;
     font-weight: 700;
     color: #F9FAF8;
     
     line-height: 1.1;
 }
 .para{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 18px;
     color: #E5E7EB;
     margin-top: 8px;
 }
 .button{
     font-size: 20px;
     background-color: #3882F6;
     color: #F9FAF8;
     padding: 8px 10px;
     border-radius: 12px;
     margin-top: 18px;
 }
 .link-button{
     font-size: 24px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #3882F6;
     color: #F9FAF8;
     padding: 8px 10px;
     border-radius: 12px;
     
 }

 .members{
     padding: 12px;
 }
 .container{
     max-width: 1300px;
     margin: 0 auto;
 }
 .members img{
     width: 180px;
     height: 180px;
     border-radius: 8px;
     border: 2px solid #3882F6;;
 }
 .heading{
     text-align: center;
     font-size: 38px;
     margin-bottom: 12px;
 }
 .box{
     display: flex;
     justify-content: space-between;
     gap: 20px;
 }
 .members{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
.paragraph{
    font-size: 22px;
}
.itallic{
    font-style: italic;
    font-size: 18px;
}







.quotes{
    background-color: #E5E7EB;
    padding: 20px;
}
.quote-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
}
.credit{
    margin-top: 10px;
    align-self: flex-end;
    font-size: 24px;
    font-weight: 500;
}
.quotation{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.cta{
    padding: 20px;
}
.cta-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta-box{
    margin: 18px 0;
    background-color: #3882F6;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    border-radius: 12px;
    color: #F9FAF8;
}
.cta-heading{
    font-size: 32px;
}
.cta-btn{
    padding: 12px 28px;
    background: none;
    color: #F9FAF8;
    border: 2px solid #E5E7EB;
    border-radius: 12px;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}